<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gos.remoter"

    >
    <!--获取WiFi状态-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!--获取网络状态-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 扫码必备权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <!-- 自动聚焦权限 -->
    <application
        android:name=".define.SystemApplication"
        android:allowBackup="true"
        android:icon="@drawable/gospell_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.InitActivity"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.NetService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance" /> <!-- 非重启Activity的横竖屏切换 -->

        <!-- 隐藏键盘 -->
        <!-- 全屏 -->
        <activity
            android:name="qr.zxing.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".activity.ConnectActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.HomeActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" >

        </activity>
        <activity
            android:name=".activity.LiveListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".activity.RemoterActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
        </activity>
        <activity
            android:name=".activity.EpgActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" >

        </activity>
        <activity
            android:name=".activity.LiveActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.ProgramActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.ProgramFavor"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.TimeSwitchActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SettingLanguage"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.SettingVersionInform"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
        <activity
            android:name=".activity.GroupActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance" />
    </application>
</manifest>
