<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gos.remoter">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />

    <!-- 扫码必备权限 -->
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 自动聚焦权限 -->
    <application
        android:name=".define.SystemInfo"
        android:allowBackup="true"
        android:icon="@drawable/gospell_icon_indonesia"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".activity.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">

            <!-- 键盘会覆盖屏幕,避免屏幕整体上移 -->
            <!-- 主页面只允许竖屏，遥控器显示不允许横屏 -->

        </activity>

        <service
            android:name=".service.NetService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.LiveActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"> <!-- 非重启Activity的横竖屏切换 -->
        </activity>

        <!-- 隐藏键盘 -->
        <!-- 全屏 -->
        <activity
            android:name="qr.zxing.MipcaActivityCapture"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <!--EPGACT-->
        <activity android:name=".activity.EPGActivity"
            android:theme="@style/EPGTheme"></activity>

            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.ConnectActivity" />
        <activity android:name=".activity.HomeActivity" >

        </activity>

        <activity android:name=".activity.RemoterActivity" />
        <activity android:name=".activity.EpgActivity" />
        <activity android:name=".activity.LiverActivity" />
        <activity android:name=".activity.ProgramActivity"></activity>
    </application>


</manifest>